@charset "utf-8";

/* reset
------------------------------------------------------------------------------------------ */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* basic
------------------------------------------------------------------------------------------ */
body,input,textarea,select,option,button {
	font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	font-size:medium;
	line-height:1.6;
}

/* layout
------------------------------------------------------------------------------------------ */
body {
  background: #e6e6e6;
}
#container {
  width:100%;
  overflow: hidden;
}
header {
  width: 100%;
  background: #f5f5f5;
}
#content {
  background: #e6e6e6;
  overflow: hidden;
  position: relative;
}
header #header-inner,
#content #content-inner {
  width: 320px;
  margin:0 auto;
}
img {
  display: block;
}
#content_scroller {
  position: relative;
}

/* banner
--------------------------------------------------------------*/
#bnr_head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
}
#bnr_head-inner {
  width: 320px;
  margin: 0 auto;
  height: 40px;
  background: #000;
}
#bnr_foot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #e6e6e6;
  overflow: hidden;
}
#bnr_foot-inner {
  width: 320px;
  margin: 0 auto;
  height: 40px;
  background: #000;
}


/*song*/

.bnr {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.bnr.bnr01{
  top: 155px;
}

.bnr.bnr02{
  top: 466px;
}

.bnr.bnr03{
  top: 965px;
}

.bnr.bnr04{
  top: 1595px;
}

.bnr.bnr05{
  top: 1947px;
}

.bnr.bnr06{
  top: 2234px;
}

.bnr.bnr070{
  top: 2563px;
  left: 215px;
}
.bnr.bnr071{
  top: 2745px;
  left: 215px;
}
.bnr.bnr072{
  top: 3000px;
  left: 215px;
}
.bnr.bnr073{
  top: 3600px;
  left: 215px;
}

.bnr.bnr08{
  top: 3850px;
}

.bnr .bnr-inner {
  width: 100%;
  margin: 0 auto;
  /*opacity: .5;*/
}

canvas {
  display: block;
}
.underground {
  display: none;
}
/* load
--------------------------------------------------------------*/
#load {
  width: 100%;
  height: 40px;
  background: #e6e6e6 url(../img/load.gif) center 0 no-repeat;
  background-size: 40px 40px;  
  padding-bottom: 10px;
  display: none;
}

/* clearfix
--------------------------------------------------------------*/
.clearfix {
	*zoom:1;
}
.clearfix:after {
	content: ".";
  display:block;
  visibility:hidden;
  height:0;
  clear:both;
}

/* kakao 
--------------------------------------------------------------*/
.kakao {
  text-align: center;
  opacity: 0;
}
.kakao p{
  width: 273px;
  margin: 0 auto;
}
.kakao img{
  zoom:50%;
  vertical-align: top;
}
